<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Ajax.BeginForm("_Consulta","Consulta",new AjaxOptions(){
    HttpMethod="POST",
    InsertionMode=InsertionMode.Replace,
    UpdateTargetId = "ShowTable"
    }))
    {
        <input name="Codigo" type="text" placeholder="Digite el Codigo"/>
         <input type="submit" value="Buscar" />
        
    }

<div id="ShowTable">

       

</div>